# New York City Taxi Fare Prediction
New York City Taxi Fare Prediction/train.csv
New York City Taxi Fare Prediction/train_s.csv

# Season 6/Episode 1 - Predicting Student Test Scores
Playground Series/Season 6/Episode 1 - Predicting Student Test Scores/data/sample_submission.csv
Playground Series/Season 6/Episode 1 - Predicting Student Test Scores/data/test.csv
Playground Series/Season 6/Episode 1 - Predicting Student Test Scores/data/train.csv
Playground Series/Season 6/Episode 1 - Predicting Student Test Scores/memory/*.md
Playground Series/Season 6/Episode 1 - Predicting Student Test Scores/notebooks/catboost_info
Playground Series/Season 6/Episode 1 - Predicting Student Test Scores/notebooks/*.cbm
Playground Series/Season 6/Episode 1 - Predicting Student Test Scores/notebooks/*.txt
Playground Series/Season 6/Episode 1 - Predicting Student Test Scores/notebooks/*.csv
Playground Series/Season 6/Episode 1 - Predicting Student Test Scores/notebooks/*.png
Playground Series/Season 6/Episode 1 - Predicting Student Test Scores/notebooks/*.pkl
Playground Series/Season 6/Episode 2 - Predicting Heart Desease/data/test.csv
Playground Series/Season 6/Episode 2 - Predicting Heart Desease/data/train.csv
Playground Series/Season 6/Episode 2 - Predicting Heart Desease/data/sample_submission.csv
Playground Series/Season 6/Episode 2 - Predicting Heart Desease/models/2_xgboost_best.pkl
Playground Series/Season 6/Episode 2 - Predicting Heart Desease/models/3_xgboost_fe_best.pkl
Playground Series/Season 6/Episode 2 - Predicting Heart Desease/notebooks/submissions/3_XGB_FE_submission.csv
Playground Series/Season 6/Episode 3 - Predict Customer Churn/data/test.csv
Playground Series/Season 6/Episode 3 - Predict Customer Churn/data/train.csv
Playground Series/Season 6/Episode 3 - Predict Customer Churn/data/sample_submission.csv
Playground Series/Season 6/Episode 3 - Predict Customer Churn/data/1_LR_submission.csv
Playground Series/Season 6/Episode 3 - Predict Customer Churn/data/2_XGB_submission.csv
Playground Series/Season 6/Episode 3 - Predict Customer Churn/chatgpt-vibe-coding-3xgpu-models-cv-0-9178.ipynb
Playground Series/Season 6/Episode 3 - Predict Customer Churn/chatgpt-vibe-coding-3xgpu-models-cv-0-9178.md
Playground Series/Season 6/Episode 4 - Predicting Irrigation Need/data/test.csv
Playground Series/Season 6/Episode 4 - Predicting Irrigation Need/data/sample_submission.csv
Playground Series/Season 6/Episode 4 - Predicting Irrigation Need/data/train.csv
Playground Series/Season 6/Episode 4 - Predicting Irrigation Need/KGMON-Playbook-2026
Playground Series/Season 6/Episode 4 - Predicting Irrigation Need/data/2_XGB_submission.csv
Playground Series/Season 6/Episode 4 - Predicting Irrigation Need/data/3_ensemble_submission.csv
Playground Series/Season 6/Episode 6 - Predicting Stellar Class/data/test.csv
Playground Series/Season 6/Episode 4 - Predicting Irrigation Need/notebook/catboost_info/catboost_training.json
Playground Series/Season 6/Episode 4 - Predicting Irrigation Need/notebook/catboost_info/learn/events.out.tfevents
Playground Series/Season 6/Episode 4 - Predicting Irrigation Need/notebook/catboost_info/learn_error.tsv
Playground Series/Season 6/Episode 4 - Predicting Irrigation Need/notebook/catboost_info/test/events.out.tfevents
Playground Series/Season 6/Episode 4 - Predicting Irrigation Need/notebook/catboost_info/test_error.tsv
Playground Series/Season 6/Episode 4 - Predicting Irrigation Need/notebook/catboost_info/time_left.tsv
Playground Series/Season 6/Episode 6 - Predicting Stellar Class/data/sample_submission.csv
Playground Series/Season 6/Episode 6 - Predicting Stellar Class/data/sample_submission.csv
Playground Series/Season 6/Episode 6 - Predicting Stellar Class/data/train.csv
Playground Series/Season 6/Episode 6 - Predicting Stellar Class/data/3_catboost_submission.csv
Playground Series/Season 6/Episode 6 - Predicting Stellar Class/notebook/catboost_info/catboost_training.json
Playground Series/Season 6/Episode 6 - Predicting Stellar Class/notebook/catboost_info/learn/events.out.tfevents
Playground Series/Season 6/Episode 6 - Predicting Stellar Class/notebook/catboost_info/learn_error.tsv
Playground Series/Season 6/Episode 6 - Predicting Stellar Class/notebook/catboost_info/time_left.tsv
Playground Series/Season 6/Episode 6 - Predicting Stellar Class/notebook/catboost_info/tmp/cat_feature_index.8098e1bf-84fd49c4-cfe25fa1-3844ddb0.tmp

# Season 6 - Episode 8 - Predicting Smartphone Addiction
Playground Series/Season 6/Episode 8 - Predicting Smartphone Addiction/data/*.csv
Playground Series/Season 6/Episode 8 - Predicting Smartphone Addiction/submissions/*.csv
Playground Series/Season 6/Episode 8 - Predicting Smartphone Addiction/models/*
!Playground Series/Season 6/Episode 8 - Predicting Smartphone Addiction/models/.gitkeep
Playground Series/Season 6/Episode 8 - Predicting Smartphone Addiction/notebook/catboost_info/
