# New York City Taxi Fare Prediction
New York City Taxi Fare Prediction/train.csv
New York City Taxi Fare Prediction/train_s.csv

# Season 6/Episode 1 - Predicting Student Test Scores
Playground Series/Season 6/Episode 1 - Predicting Student Test Scores/data/sample_submission.csv
Playground Series/Season 6/Episode 1 - Predicting Student Test Scores/data/test.csv
Playground Series/Season 6/Episode 1 - Predicting Student Test Scores/data/train.csv
Playground Series/Season 6/Episode 1 - Predicting Student Test Scores/memory/*.md
Playground Series/Season 6/Episode 1 - Predicting Student Test Scores/notebooks/catboost_info
Playground Series/Season 6/Episode 1 - Predicting Student Test Scores/notebooks/*.cbm
Playground Series/Season 6/Episode 1 - Predicting Student Test Scores/notebooks/*.txt
Playground Series/Season 6/Episode 1 - Predicting Student Test Scores/notebooks/*.csv
Playground Series/Season 6/Episode 1 - Predicting Student Test Scores/notebooks/*.png
Playground Series/Season 6/Episode 1 - Predicting Student Test Scores/notebooks/*.pkl